#footer {
	padding: 1.5em 0;

	background:#0c4ada;
	color: var(--col-main-dark-text, white);

	#footer-credit {
		display: grid;
		justify-content: center;
		gap: 1em;

		p {
			margin: 0;
			text-align: center;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		list-style: none;
		display: flex;
		gap: 1em;
		justify-content: center;
	}
}